@media only screen and (min-height: 700px) and (max-height: 800px) and (max-width: 490px) {
    #spin-wrapper {
        bottom: -10%;
    }
}

@media only screen and (max-height: 760px) and (max-width: 490px) {
    #spin-wrapper {
        bottom: -20%;
    }

    #sg-wrapper {
        top: -59%;
    }

    #ron-wrapper {
        top: -61%;
    }
}