body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
    background-color: black !important;

}

.main_container {
    background-image: url(../images/bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #2a328d;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}

.con_logo {
    background-color: white;
    max-width: 100%;
    text-align: center;
}

.logo {
    width: 15%;
    padding: 1vw;
}

.txt_header {
    width: 100%;
}

.phone {
    width: 100%;
    padding: 3vw 3vw;
}

.timer {
    color: #2a328d;
    font-size: 4vw;
    margin: -11vw 0vw 0vw 32vw;
}

.cta {
    width: 56%;
    padding: 2vw 0px;
}

.cta1 {
    width: 32%;
    margin: -2vw -30vw 0vw 0vw;
}

.win_txt {
    font-size: 2.5vw;
    margin-top: 3vw;
}

.winner {
    width: 60%;
}

.cta2 {
    width: 40%;
}

.brand_txt {
    font-size: 4vw;
}

.mid {
    width: 76%;
}

.cta3 {
    width: 34%;
}

.foot {
    width: 82%;
    margin-top: 10vw;
}

.cta4 {
    width: 34%;
    margin-top: 8vw;
}

.win_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}