.zoom2 {
  animation-name: zoomInOut;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.zoom-out-drop {
  animation-name: zoomOutDrop;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
}

.delay-1 {
  animation-delay: .5s;
}

.delay-2 {
  animation-delay: 1s;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOutDrop {
  0% {
    opacity: 0;
    transform: scale(1.8);
  }

  70% {
    transform: scale(1);
  }

  95% {
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.floating-to-l {
  animation-name: floatingToL;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-to-r {
  animation-name: floatingToR;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-2 {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-3 {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingToL {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(15px, -15px)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes floatingToR {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(-15px, 15px)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(0, 5px)
  }

  100% {
    transform: translate(0, 0)
  }
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.duration-5 {
  animation-duration: 5s;
}

.duration-15 {
  animation-duration: 15s;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.6, .6, .6);
    transform: scale3d(.6, .6, .6)
  }

  100% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
    opacity: 1;
  }
}

.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@keyframes fadeInLeft {
  0% {
    opacity: .75;
      -webkit-transform: translate3d(-20%,0,0);
      transform: translate3d(-20%,0,0)
  }

  to {
    opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}

.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.glow-1 {
  box-shadow: 20px 20px 60px #014789, -20px -20px 60px #0161b9;
}

.animation__glowing {
  animation-name: glowing;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 20px 20px 60px #014789, -20px -20px 60px #0161b9;
  }

  35% {
    box-shadow: 20px 20px 90px #014789, -20px -20px 90px #0161b9;
  }

  55% {
    box-shadow: 20px 20px 60px #014789, -20px -20px 60px #0161b9;
  }

  85% {
    box-shadow: 20px 20px 90px #014789, -20px -20px 90px #0161b9;
  }

  100% {
    box-shadow: 20px 20px 60px #014789, -20px -20px 60px #0161b9;
  }
}

.animation__slide {
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-duration: 2s;
}

.animation__slide-tr {
  animation-name: slide-tr;
}

.animation__slide-tl {
  animation-name: slide-tl;
}

.animation__slide-br {
  animation-name: slide-br;
}

.animation__slide-bl {
  animation-name: slide-bl;
}

@-webkit-keyframes slide-tr {
  0% {
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }

  50% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0)
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0)
  }
}
@keyframes slide-tr {
  0% {
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0)
  }
}

@-webkit-keyframes slide-tl {
  0% {
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes slide-tl {
  0% {
    -webkit-transform: translateY(100px) translateX(-100px);
            transform: translateY(100px) translateX(-100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes slide-br {
  0% {
    -webkit-transform: translateY(-100px) translateX(-100px);
            transform: translateY(-100px) translateX(-100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes slide-br {
  0% {
    -webkit-transform: translateY(-100px) translateX(-100px);
            transform: translateY(-100px) translateX(-100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes slide-bl {
  0% {
    -webkit-transform: translateY(-100px) translateX(100px);
            transform: translateY(-100px) translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes slide-bl {
  0% {
    -webkit-transform: translateY(-100px) translateX(100px);
            transform: translateY(-100px) translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}